* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height:100%;
}
body {
    background: linear-gradient(-45deg, #ffbd6d, #87CEEB, #23a6d5, #23a, #000);
    background-size: 400% 400%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.id{
    background: linear-gradient(-45deg, #021691, #69239e);
    animation: gradient 5s ease infinite;
    height: 115px;
    width: 230px; 
    border-radius: 10px;
    display: flex;
    justify-content: center;   
    align-items: center;
}

#relogio{
  font-size: 28px;
  color: #fff;
}
